html {
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */

.mobileLogo{
    display: none;
}

.LMAOXD .image-gallery-slides img{
    max-height: 85vh;
    min-height: 85vh;
}

.image-gallery-left-nav {
   color: black!important;
}

.App {
    text-align: center;
}

.appGrid {
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 100vh;
}

.bannerContent {
    width: 100%;
    display: flex;
    height: 50%;
    margin: 10px auto;
    text-align: left;
}

.infoBanner ul{
    list-style: none;
}

.infoBanner{
    white-space: nowrap;
    background-color: white;
    grid-row: 1;
    grid-column: 1/9;
    display: grid;
    /*grid-template-rows: 1fr auto auto 0.5fr;*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
}

.footerInfo{
    white-space: nowrap;
    padding: 0;
}

.bannerContact{
    display: flex;
    grid-column: 2/4;
    margin-left: 15px;
}

.bannerTime{
    display: flex;
    grid-column: 4/6;
    margin-left: 15px;
}

.bannerAddress{
    display: flex;
    grid-column: 6/8;
    margin-left: 15px;
}

.bannerLogo{
    width: 120%;
    grid-column: 8/9;
    overflow:hidden
}

.appHeader {
    color: white;
    grid-row: 2;
    grid-column: 2/8;
    margin-bottom: 36px;
}

.appContent {
    -webkit-box-shadow: 0px 0px 40px -4px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 40px -4px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 40px -4px rgba(0,0,0,0.39);
    background-color: white;
    min-height: 100vh;
    grid-row: 3;
    grid-column: 2/8;
    margin-bottom: 36px;
}

.appFooter {
    grid-row: 4;
    grid-column: 1/9;
}

div.imageCarousel{
    overflow: hidden;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.homeGrid {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    min-height: 70vh;
}

.welcomeThing{

}

.featuredCars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.featuredCars .singleCar{
    height: 75%;
    width: 90%;
}

.contactGrid{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows:1fr;
    min-height: 70vh;
}

.mailSender {
    grid-column: 1/4;
    grid-row: 1;
}

.location {
    grid-column: 4/7;
    grid-row: 1;
}

.adminGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 1fr;
    height: 80vh;
}


.content {
    grid-column: 2/6;
    grid-row: 1;
}

authForm {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
}

.authForm li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.authForm label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.newCarForm {
    margin: auto;
    max-width: 40vw;
}

.newCarForm li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.newCarForm input{
    width: 60%;
}

.newCarForm label{
    float: left;
    min-width: 35%;
    margin-right: 15px;
    text-align: right;
}

.newCarViaUrl li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.emailList input{
    width: 350px;
}

.emailList textarea{
    width: 350px;
}

.emailList div {
    margin: 0 auto;
    width: 350px;
}

.mail-link {
    text-decoration: underline;
    color: blue;
}

.ServicesWrapper{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.ServicesWrapper div{
    padding: 0 20% 0 20%;
}

.import{
    grid-column: 1;
    grid-row: 1;
    min-height: 50%;
}

.insurance{
    grid-column: 2;
    grid-row: 2;
    min-height: 50%;
}

.ransom{
    grid-column: 1;
    grid-row: 2;
    min-height: 50%;
}

.garauntee{
    display: block;
    grid-column: 2;
    grid-row: 1;
    min-height: 50%;
}

.bannerContentList ul{
    padding-left: 0;
}

.carPagingWrapper {
    padding: 15px;
    display: grid;
    min-height: 70vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.sortingPanel .dropdown button{
    width: 100%;
}

.pagedCars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1/8;
    grid-row: 1/4;
}

.sortingPanel {
    grid-column: 8/10;
    grid-row: 1/3;
    text-align: left;
}

.sortingPanel li:hover{
    cursor: pointer;
}

.singleCar {
    color: black;
    display: grid;
    margin: auto;
    margin-top: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /*margin: 10px auto 10px 5px;*/
    width:275px;
    height: 260px;
    font-size: 12px;
}

.singleCar:hover {
    cursor: pointer;
}

.singleCar li {
    list-style: none;
    margin: 10px 0 0 0;
}

.singleCarProfilePic{
    grid-row: 1/4;
    grid-column: 1;
    background-size:cover;
    background-repeat:no-repeat;
    background-position-y:center;
    object-fit:contain;
}

.singleCarProfilePic img {
    max-width: 100%;
    max-height: 100%;
}

.singleCarBasicInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
    grid-row: 4/5 ;
    grid-column:1;
}

.firstRow {
    grid-column: 1;
    grid-row: 1;
}

.secondRow {
    grid-column: 2;
    grid-row: 1;
}

.carProfileWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.info{
    padding-top: 10px;
}

.pics{
    margin: 15px;
    grid-column: 1/3;
    max-width: 100%;
}

.desc{
    grid-column: 1/3;
    padding-bottom: 30px;
    font-size: 20px;
    padding: 15px;
}

.urlInput{
    display: grid;
    height: 85vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.one{
    grid-column: 1/3;
    grid-row: 1;
}

.two {
    grid-column: 3/5;
    grid-row: 1;
}

.adminImage {
    width:240px;
    height:180px;
    background-size:contain;
    background-repeat: no-repeat;
    display:inline-block;
    margin-right:5px;
}

.adminImageIco {
    color: red;
}

.adminImageIco:hover {
    cursor: pointer;
}

.priceArrow:hover {
    cursor:pointer;
}

.carInfoLabel {
    font-weight: bold;
    font-size: 15px;
    text-align: right;
}

.header {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(127,0,0,1) 0%, rgba(194,0,0,1) 100%);
    height: 50%;
}

.footer li{
    list-style: none;
    margin: 10px 0 0 0;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.footerElementLeft {
    padding: 20px 0;
    max-width: 150px;
    margin-left: 15px;
    margin-right: 15px;
    grid-column: 1/2;
}

.footerNavigation {
    grid-column: 2/6;
    margin-top: 50px;
}

.searchThing{
    margin-bottom: 10px;
}

.footerInfo{
    grid-column: 6/7;
}

.footerElementRight {
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.footerNavigation b:hover {
    cursor: pointer;
    text-decoration: underline;
}

.emailList li {
    padding: 0;
    display: block;
    list-style: none;
}

.emailList{
    padding: 0;
}

.emailList input{
    width: 100%;
}

.tab{
    margin-right: 0!important;
}

.tabDiv{
    margin-right:15px;
    padding:0 7px 0 7px;
}

.tabDiv:hover{
    background-color: darkred;
    cursor: pointer;
    -webkit-transition: background-color 1s; /* Safari prior 6.1 */
    transition: background-color 1s;
}

.mmtParent {
    margin-bottom: 30px;
    display:flex;
}

.mmt{
    margin-right: 7px;
}

.infoList {
    padding: 0;
}

.infoList li{
    margin: 0;
}

.sisa{
    border: 0;
    height: 1px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

.navigation{
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(231,232,236,1) 0%, rgb(252, 255, 251) 100%);*/
    background: black;
    height:50px;
    display: flex;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.headerBotun {
    text-align: center;
    line-height: 100%;
    font-size: 20px;
    color: white;
    padding: 15px 13px;
    height: 100%;
    transition: background-color 0.2s ease;
}
.headerBotun:hover {
    background: #BF271B;
    color: white;
    cursor: pointer;
}

.headerLogo:hover {
    cursor: pointer;
}

.image-gallery-image img{
    height: auto!important;
    object-fit: contain;
}

@media only screen and (max-width: 1086px) {
    .infoBanner{
        display: none;
    }

    .appGrid{
        grid-template-columns: 1fr;
        width: 100vw;
    }

    .appHeader{
        grid-row: 1;
        grid-column: 2/8;
        height: 75px;
        background: black;
    }

    .headerBotun{
        display: none;
    }

    .featuredCars {
        display: grid;
        grid-template-columns: 1fr;
    }

    .featuredCars .singleCar{
        height: 75%;
        width: 90%;
    }

    .footerElementLeft{
        display: none;
    }

    .footerNavigation{
        grid-column: 1;
        margin-top: 0px;
    }

    .footerInfo{
        grid-column: 1;
    }

    .footer{
        grid-template-columns: 1fr;
    }

    .appContent{
        min-height: auto;
        max-width: 100vw;
    }

    .ServicesWrapper{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .ServicesWrapper div{
        padding: 0 10% 5% 10%;
    }

    .import{
        grid-column: 1;
        grid-row: 1;
        min-height: 50%;
    }
    .import img{ max-width: 100% !important; max-height: 100%;}
    .insurance{
        grid-column: 1;
        grid-row: 2;
        min-height: 50%;
    }
    .insurance img{ max-width: 100% !important; max-height: 100%;}
    .ransom{
        grid-column: 1;
        grid-row: 3;
        min-height: 50%;
    }
    .ransom img{ max-width: 100% !important; max-height: 100%;}
    .garauntee{
        display: block;
        grid-column: 1;
        grid-row: 4;
        min-height: 50%;
    }
    .garauntee img{ max-width: 100% !important; max-height: 100%;}

    .featuredCars .singleCar{
        height: 90%;
        width: 90%;
        padding-bottom: 10px;
    }

    .contactGrid{
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-rows:1fr;
        min-height: 70vh;
    }

    .mailSender {
        grid-column: 1;
        grid-row: 2;
    }

    .location {
        grid-column: 1;
        grid-row: 1;
    }

    .newCarForm {
        margin:0;
        max-width:none;
    }

    .LMAOXD .image-gallery-slides img{
        max-height: 40vh;
        min-height: 40vh;
        max-width: 100vw;
    }

    .emailList div{
        width: auto;
    }

    .carPagingWrapper {
        padding: 15px;
        display: grid;
        min-height: 70vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        min-width: 100vw;
    }

    .pagedCars {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: 1;
        grid-row: 2;
    }

    .sortingPanel {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }
    .mobileLogo{
        display: flex;
        overflow: hidden;
    }
}
